@font-face {
  font-family: myFirstFont;
  src: url('../assets/fonts/Gruppo-Regular.ttf');
}

* {
	margin: auto;
	padding: 0;
	box-sizing: border-box;
	color: #9BF8A9;
	font-family: myFirstFont;
	font-size: 40px;
}

body {
	width: 100vw;
	min-height: 100vh;
	background-image: url('../assets/images/bg_purple.jpg');
	position: relative;
}

.bg-alpha-light {
	cursor: url('../assets/images/easter-egg-cursor.png'), auto;
	background-color: rgba(255, 255, 255, 0.25);
}

.bg-alpha-light:hover {
	background-color: rgba(255, 255, 255, 0.15);
}

.bg-alpha-dark {
	background-color: rgba(0, 0, 0, 0.25);
}

.curtain {
	position: absolute;
	top: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.round {
	border-radius: 0.75rem;
	outline: 2px gray solid;
}

#main-section {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url('../assets/images/easter_bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80vw;
	min-height: 90vh;
	padding: 1rem;
}
.content-top {
	align-items: flex-start !important;
	justify-content: flex-start !important;
}

p {
	padding: 0 1rem;
}

.shadow {
	background: linear-gradient(#9198e5, rgba(0, 0, 0, 0.5));
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.text {
	font-size: 25px !important;
	background-color: rgba(42, 42, 42, .42);
	word-spacing: 1px;
	line-height: 15px;
	z-index: 10;
	cursor: pointer;
	padding: 0.25rem;
}
.text .subtitle {
	line-height: 30px;
	font-size: 30px;
	margin: auto 0.25rem;
}

.index {
	z-index: 11;
	background-color: rgba(42, 42, 42, .42);
	display: inline-block;
	position: relative;
	text-align: center;
	padding: 1rem;
	width: 100%;
	margin: 0.25rem auto;
}
.index a {
	display: block;
}

#animation-section {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100px;
	width: 100px;
	background-color: rgba(225, 200, 240, 0.9);
	border-radius: 50%;
}
#animation-section #easter-animation {
  /* SPRITE IS 166x125*/
  position: absolute;
  height: 133px;
  width: 100px;
  display: block;
  background-position: center;
  background: url('../assets/images/bunny-face.png') 0px 0px;
  z-index: 9;
}
#easter-conversation {
	z-index: 8;
	position: absolute;
	bottom: 80px;
	left: 80px;
	background-color: white;
	cursor: pointer;
}
#easter-conversation * {
	color: black;
}
#easter-conversation::after {
	z-index: -1;
    content:'';
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    transform: rotate(25deg);
    border-top: solid 50px white;
    border-right: solid 50px transparent;
}

#actions {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
#actions * {
	cursor: pointer;
	color: darkblue;
	font-size: 15px;
	padding: 5px;
}

.images-collage {
	position: relative;
	display: block;
	width: 300px;
	height: 300px;
}
.images-collage img {
	position: absolute;
	top: 0;
	width: 200px;
	height: auto;
}
.images-collage img:nth-child(1) {
	left: 0;
	transform: rotate(-15deg);
}
.images-collage img:nth-child(2) {
	left: 30%;
	transform: rotate(0deg);
}
.images-collage img:nth-child(3) {
	left: 70%;
	transform: rotate(15deg);
	z-index: 5;
}
.images-collage img:nth-child(4) {
	left: 50%;
	z-index: 4;
	transform: rotate(35deg);
}

.timeline {
  position: relative;
  margin: 0 auto;
}
.timeline * {
	font-size: 15px;
	margin: 0;
	color: black;
}
.timeline::after {
	content: '';
	position: absolute;
	width: 3px;
	background-color: lightblue;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}
.container {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 50%;
}
.container::after {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	right: -11px;
	background-color: white;
	border: 2px solid #424242;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}
.left {
	left: 0;
}
.right {
	left: 50%;
}
.left::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid white;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent white;
}
.right::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent white transparent transparent;
}
.right::after {
	left: -16px;
}
.timeline-content {
	display: flex;
	padding: 20px 30px;
	background-color: white;
	position: relative;
	border-radius: 6px;
}
